![Data Science with Python ](./fig/Data_Science_WVCTSI.png)

# Data Analysis with Pandas

In [ ]:
import pandas as pd
from pandas import Series

## 1.&nbsp; Series

A Series is a one-dimensional array-like object containing an array of data and an associated array of data labels.  The data can be any NumPy data type and the labels are the Series' index.

### 1.1 &nbsp; Create a Series

Let's create a series from a python list.

In [ ]:
ser_1 = Series([1, 1, 2, -3, -5, 8, 13])
ser_1

### 1.2 &nbsp; Get values and index of the series

Get the array representation of a Series:

In [ ]:
ser_1.values

Get the index of the Series:

In [ ]:
ser_1.index

Create a Series with a custom index:

In [ ]:
ser_2 = Series([1, 1, 2, -3, -5], index=['a', 'b', 'c', 'd', 'e'])
ser_2

Get a value from a Series:

In [ ]:
ser_2[4]

In [ ]:
ser_2['e']

In [ ]:
ser_2[4] == ser_2['e']

Get a set of values from a Series by passing in a list:

In [ ]:
ser_2

In [ ]:
ser_2[['a', 'c', 'b']]

Get values great than 0:

In [ ]:
ser_2[ser_2 > 0]

In [ ]:
ser_2 > 0

#### Exercise 1

Use the code cell below to create a series. The index of the series are the names of the months and the values of the series are the numbers of days in the corresponding months in 2022.

<table>
  <tr>
    <td>January</td>
    <td>31</td>
  </tr>
  <tr>
    <td>Feburary</td>
    <td>28</td>
  </tr>
  <tr>
    <td>March</td>
    <td>31</td>
  </tr>
  <tr>
    <td>April</td>
    <td>30</td>
  </tr>
  <tr>
    <td>May</td>
    <td>31</td>
  </tr>
  <tr>
    <td>June</td>
    <td>30</td>
  </tr>
  <tr>
    <td>July</td>
    <td>31</td>
  </tr>
  <tr>
    <td>August</td>
    <td>31</td>
  </tr>
  <tr>
    <td>September</td>
    <td>30</td>
  </tr>
  <tr>
    <td>October</td>
    <td>31</td>
  </tr>
  <tr>
    <td>November</td>
    <td>30</td>
  </tr>
  <tr>
    <td>December</td>
    <td>31</td>
  </tr>
</table>

In [ ]:
# write your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
month_day = Series([31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31], index=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])
month_day
```
</p>
</details>

## 2.&nbsp; DataFrame

A **DataFrame** is a tabular data structure containing an ordered collection of columns. Each column can have a different type. DataFrames have both row and column indices.


First, let's import the required libraries

In [ ]:
# import pandas as pd
from pandas import DataFrame
import numpy as np

### 2.1 &nbsp; Create a DataFrame:
Next, we will create a DataFrame from a python dictionary data structure. Dictionaries are used to store data values in key:value pairs. They are written with curly brackets, and have keys and values


```
car_dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
```

Now, let's create a dictionary with the populations of two states in different years and pass it into ***DataFrame( )*** to create a DataFrame.

In [ ]:
data_1 = {'state' : ['VA', 'VA', 'VA', 'MD', 'MD'],
          'year' : [2012, 2013, 2014, 2014, 2015],
          'pop' : [5.0, 5.1, 5.2, 4.0, 4.1]}
df_1 = DataFrame(data_1)
df_1

In [ ]:
type(df_1)

#### Exercise 2
Create a DataFrame based on the table below including four columns: Country, Continent, GDP, Population. Name it as `nation_economics`.

Use the cell below to get started. Please create any more cells if you need and execute the cells after coding

<table>
 <tr>
    <th>Country</th>
    <th>Continent</th>
    <th>GDP (Billion dollars)</th>
    <th>Population (Millions)</th>
  </tr>
  <tr>
    <td>United States</td>
    <td>America</td>
    <td>18624.5</td>
    <td>332.9</td>
  </tr>
  <tr>
    <td>China</td>
    <td>Asia</td>
    <td>11218.3	</td>
    <td>1444.2</td>
  </tr>
  <tr>
    <td>Japan</td>
    <td>Asia</td>
    <td>4936.2</td>
    <td>126.1</td>
  </tr>
  <tr>
    <td>Germany</td>
    <td>Europe</td>
    <td>3477.8</td>
    <td>83.9</td>
  </tr>
</table>

In [ ]:
# write your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
data = {
    'Country': ['United States','China', 'Japan', 'Germany'],
    'Continent': ['America', 'Asia', 'Asia', 'Europe'],
    'GDP (Billion dollars)': [18624.5, 11218.3, 4936.2, 3477.8],
    'Population (Millions)': [332.9, 1444.2, 126.1, 83.9],
}

nation_economics = pd.DataFrame(data)
nation_economics
```
</p>
</details>

### 2.2 &nbsp; Create a DataFrame specifying a sequence of columns:

we can specify the sequence of columns by reordering the column names in the ***columns*** parameter.

Feel free to change the order of the columns in the code cell below.

In [ ]:
df_2 = DataFrame(data_1, columns=['year', 'state', 'pop'])
df_2

In [ ]:
df_21 = DataFrame(data_1, columns=['pop','year', 'state'])
df_21

### 2.3 &nbsp; Add a new column in the DataFrame
For example, we want to add a column called ***unempl*** indicating the unemployment rate. There is no data in this column. It will show NaN:

In [ ]:
df_3 = DataFrame(data_1, columns=['year', 'state', 'pop', 'unempl'])
df_3

In [ ]:
df_3.fillna(5.8)

In [ ]:
unemployment = [5.8, 5.8, 5.8, 4.9, 4.9]
df_3['unempl'] = unemployment
df_3

### 2.4 &nbsp; Retrieve a column

You can retrieve a column from a DataFrame in two ways:


1.   by using square bracket and the column name
2.   by using dot notation

Please look at the two code cells below and feel free to practice retrieving other columns

In [ ]:
df_3

In [ ]:
df_3['state']

In [ ]:
df_3.state

In [ ]:
df_3.year

In [ ]:
df_3['pop']

In [ ]:
df_3['unempl']

In [ ]:
df_3.unempl

### 2.5 &nbsp; Retrieve a row

We use ***loc*** and ***iloc*** to retrieve a row. ***loc*** is label-based, which means that you have to specify rows and columns based on their row and column labels. ***iloc*** is integer position-based, so you have to specify rows and columns by their integer position values (0-based integer position).

Please look at the four code cells below and feel free to practice retrieving other rows

In [ ]:
df_3

In [ ]:
df_3.iloc[3]

In [ ]:
df_3.iloc[0]

In [ ]:
df_3.index = ['r1', 'r2', 'r3', 'r4', 'r5']
df_3

In [ ]:
df_3.iloc[0]

In [ ]:
df_3.loc['r1']

In [ ]:
df_3.loc['r2']

#### Exercise 3
With the nation_economics DataFrame, please complete the following tasks:

* retrieve the column of GDP (Billion dollars) and save it in a variable `gdp`
* retrieve the column of Population (Millions) and save it in a variable `popn`
* retrieve the row of country `Germany` and save it in a variable `germany`

Use the cell below to get started. Please create any more cells if you need and execute the cells after coding

In [ ]:
# write your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p> 
    
```
gdp = nation_economics['GDP (Billion dollars)']
print(gdp)
print('=================')
popn = nation_economics['Population (Millions)']
print(popn)
print('=================')
germany = nation_economics.loc[3]
print(germany)
```
</p>
</details>

### 2.6 &nbsp; Dropping Entries

We can drop either rows or columns in a DataFrame with **drop( )** by passing in a list of rows or columns. The parameter axis can be 0 or ‘index’, 1 or ‘columns’. It is 0 by default.

Please look at the two code cells below and feel free to practice dropping other rows or columns

In [ ]:
df_3

In [ ]:
# drop rows
df_4 = df_3.drop(['r1','r2'], axis='index')
df_4

In [ ]:
df_41 = df_3.drop(['r1','r4'], axis=0)
df_41

In [ ]:
# drop columns
df_4 = df_3.drop(['unempl', 'pop'], axis='columns')
df_4

### 2.7 &nbsp; Selecting, Filtering

we can slice a Pandas DataFrame with `start` `stop` and `step`. 
```
slice = df[start:stop]
slice = df[start:stop:step]
```
**New**! With DataFrames: `start` and `stop` can be non-integer *labels* if a custom index is present. 

 The slice is a DataFrame object with the same columns and indices. 
 
 
 **Reminder**: If you wanted to select *just one* row, you needed the `loc` or `iloc` method -- otherwise, Pandas would think you wanted to select a column.

In [ ]:
df_3

In [ ]:
df_3['unempl']<5

In [ ]:
df_3[df_3['unempl']<5]

In [ ]:
df_3[0:2:1]

In [ ]:
df_3['r1':'r3']

We can use the logical operators on column values to filter rows.

In [ ]:
df_3['pop'] > 5

In [ ]:
type(df_3['pop'] > 5)

In [ ]:
df_3[df_3['pop'] > 5]


### 2.8 &nbsp; Sorting

We can sort on index by using sort_index( ) or on values by using sort_values( )

In [ ]:
df_12 = DataFrame(np.arange(12).reshape((3, 4)),
                  index=[3, 1, 2],
                  columns=['c', 'a', 'b', 'd'])

df_12

In [ ]:
# Sort a DataFrame by its index
df_12.sort_index(axis=0, ascending=True)

In [ ]:
df_12

In [ ]:
#Sort a DataFrame's values by column
# df_12.sort_values(by=['d', 'c'])
df_12.sort_values(by=['d'], ascending=False)

### 2.9 &nbsp; Exercise 4

With the nation_economics DataFrame, please complete the following tasks:

* select the rows with even indices
* select the rows with populations fewer than 300 Millions (filtering)
* sort the DataFrame by GDP (Billion dollars) in ascending order

Use the cell below to get started. Please create any more cells if you need and execute the cells after coding

In [ ]:
# write your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>
    
```
even_rows = nation_economics[0::2]
print(even_rows)
print('=================')
popn_less_than_300M = nation_economics[nation_economics['Population (Millions)']<300]
print(popn_less_than_300M)
print('=================')
GDP_ascending = nation_economics.sort_values(by=['GDP (Billion dollars)'], ascending=True)
print(GDP_ascending)
```
</p>
</details>

### 2.10 &nbsp; Input and Output

In [ ]:
df_5 = pd.read_csv("king_county_house_data.csv")

In [ ]:
df_5.head(10)

In [ ]:
# used to view some statistical data like percentile, mean and std of the numerical values
df_5.describe()

In [ ]:
df_5[df_5['bedrooms']==33]

In [ ]:
df_5.to_csv('./data_copy.csv', 
            index=False, 
            header=False)

### 2.11 &nbsp; Exercise 5

Read the data in the `city_weather.csv` file to a DataFrame and save it in a varialbe `city_weather`.

Retrieves the rows with tempatures that are higher than 100F.

Use the cell below to get started. Please create any more cells if you need and execute the cells after coding

In [ ]:
# write your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>
    
```
city_weather = pd.read_csv("city_weather.csv")
city_weather[city_weather['temperature']>100]
```
</p>
</details>

## 3.&nbsp; Advance Pandas (Optional)

### 3.1 &nbsp; Handle missing and duplicate data

#### Handle missing data

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["c1", "c2", "c3"],
)

df["c4"] = "bar"

df["c5"] = df["c1"] > 0

df2 = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])

df2

In [ ]:
df2.iat[0, 1] = np.nan
df2

In [ ]:
# Drop rows that have at least one NA value
df2.dropna(how='any')

In [ ]:
# Drop rows that have all NA value
df3 = df2.dropna(how='all')
df3

In [ ]:
# Drop columns that have at least one NA value
df3.dropna(how='any', axis='columns')

In [ ]:
df2['c1'].median()
# df2.fillna(df2['c1'].mean())

In [ ]:
# Fill all NA's with zero
df2.fillna(0)

In [ ]:
# 'ffill' stands for 'forward fill' and will propagate last valid observation forward / 'pad'
# 'bfill' - backward fill
df2.fillna(method="ffill")

In [ ]:
# interpolate(): Fill NaN values using interpolation.
df2.interpolate(method='linear', axis=0)

#### Handle duplicate data

In [ ]:
# Checks if a row appears elsewhere with the same values
# By default, for each set of duplicated values, the first occurrence is set on False and all others on True.
df2.duplicated()

In [ ]:
# Checks if there are any duplicate values of a particular column
df2.duplicated('c1')

In [ ]:
# Drop duplicate rows 
df2.drop_duplicates()

In [ ]:
# Drop duplicates from particular column
df2.drop_duplicates('c1')

### 3.2 &nbsp; Merge data

In [ ]:
import pandas as pd

df1 = pd.DataFrame({'c1': ['a','b','c','d'], 'c2':[12.0, 23.2, 56, 45.4]})
df1

In [ ]:
df2 = pd.DataFrame({'c1': ['a','b','c','e'], 'c3':[9.5, 37.0, 77,38.9]})
df2

In [ ]:
# SQL left join
pd.merge(df1,df2,on='c1', how='left')

In [ ]:
# SQL right join
pd.merge(df1,df2,on='c1', how='right')

In [ ]:
# SQL inner join
pd.merge(df1,df2,on='c1', how='inner')

In [ ]:
# SQL outer join
pd.merge(df1,df2,on='c1', how='outer')